<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7COpen+Sans:400,600%7CCabin:400i" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/vendor-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="an-main-wrapper">
      <div class="an-login-register-content" style="background: url('/static/img/register.jpg') center center no-repeat;
        background-size: cover;">
        <div class="overlay"></div>
        <div class="content">
          <a class="logo" href="{% url 'home' %}"><i class="fa fa-globe color-primary"></i>Welcome</a>
          <h1>{% block head_title %}{% trans "Signup" %}{% endblock %}</h1>

          <p>Already member? <a href="{% url 'account_login' %}">Login!</a></p>

          <form class="an-form" method="POST" action="{% url 'account_signup' %}">
              {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                  {{ form.username|add_class:"an-form-control light" }}
                </div>
                <div class="col-sm-12">
                  {{ form.email|add_class:"an-form-control light" }}
                </div>
                <div class="col-sm-6">
                  {{ form.password1|add_class:"an-form-control light" }}
                </div>
                <div class="col-sm-6">
                  {{ form.password2|add_class:"an-form-control light" }}
                </div>
            </div>

            <div class="social-login">
              <h4>Or Sign In with social</h4>
              <ul class="an-social-icons">
                <li><a href="register.html#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="register.html#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="register.html#"><i class="ion-social-pinterest"></i></a></li>
                <li><a href="register.html#"><i class="ion-social-linkedin"></i></a></li>
              </ul>
            </div>

            <p class="terms">By creating a site you have to agree the <a href="#">Terms of Service</a> and <a href="#">Privecy Policy</a></p>
              {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            <button type="submit" class="an-btn an-btn-default large-padding btn-lg">{% trans "Sign Up" %}</button>
          </form>
        </div>
      </div>

      <div class="an-loader">
        <div class="fl spinner2">
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
        </div>
      </div>
    </div> <!-- end main wrapper -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/selectize.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
  </body>
</html>
