{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
    <a href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"><i class="ion-social-{{brand.name}}"></i></a>
</li>
{% endfor %}
{% endif %}
<li>
    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="ion-social-{{provider.name|lower}}"></i></a>
</li>
{% endfor %}
