{% extends "base.html" %}

{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
  <h1>Products</h1>

  {% for category in categories %}
    <p>{{ category.name }}</p>
    {% for product in category.products %}
      <p>{{ product.name }}</p>
    {% endfor %}
  {% endfor %}

</main>

{% endblock %}