<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elements</title>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7COpen+Sans:400,600%7CCabin:400i" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/vendor-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="an-main-wrapper">
  <header class="an-header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-bullseye color-primary"></i>My portal</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if request.user.is_authenticated %}
                <a class="sign-up-link" href="{% url 'profiles:profile' pk=user.id %}"><i class="fa fa-user"></i><span>Logout</span></a>
              {% else %}
                <a class="sign-up-link" href="{% url 'account_login' %}"><i class="fa fa-user"></i><span>Login/Signup</span></a>
              {% endif %}
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header> <!-- end an-header -->

  {% block content %}
  {% endblock %}

  <footer class="an-footer">
    <div class="container">
      <div class="an-footer-bottom">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="an-widget">
              <h4 class="an-small-title light-color">Menu</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Listing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="an-widget">
              <h4 class="an-small-title light-color">Support</h4>
              <ul>
                <li><a href="#">Prvecy Policy</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms &amp; Service</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div class="an-widget">
              <h4 class="an-small-title light-color">Manage</h4>
              <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Listing</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Subscription</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="an-widget">
              <h4 class="an-small-title light-color">Quick Links</h4>
              <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Agency Profile</a></li>
                <li><a href="#">Activity</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-md-push-1 col-sm-6">
            <div class="an-widget newsletter">
              <h4 class="an-small-title light-color">Subscribe to our news</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin.</p>
              <form action="#" class="an-form" method="post" id="subscribe">
                <input type="email" class="an-form-control dark" placeholder="E-mail" id="subscr_email" required>
                <button type="submit" class="an-btn an-btn-default btn-submit-full" id="subscr_btn"><i class="ion-ios-paperplane"></i></button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div> <!-- end container -->
    <div class="an-footer-copyright">
      <div class="container">
        <div class="content">
          <p class="copyrights">© 2017 Catalog Directory by analoglife. All rights reserved</p>
          <ul class="an-social-icons">
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
          </ul>

        </div>
      </div>
    </div>
  </footer> <!-- end an-footer -->
  <div class="an-loader">
    <div class="fl spinner2">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>
</div> <!-- end main wrapper -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/selectize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
</body>
</html>
