{% extends "base.html" %}

{% block content %}

    <div class="an-inner-banner">
        <div class="container">
            <div class="an-agency-single an-agent-single">
                <div class="left">
                    <div class="image" style="background: url('{{ userprofile.avatar_url }}') center center no-repeat; background-size: cover;">
                        <a class="edit-btn" href="{% url 'profiles:profile_update' %}"><i class="ion-ios-gear"></i>Edit</a>
                    </div>
                    <div class="name">
                        <div class="an-title-container center">
                            <h1 class="an-title"><a href="#">{% if userprofile.user.get_full_name %}{{ userprofile.user.get_full_name }}
                            {% else %}{{ user.email }}{% endif %}</a></h1>
                        </div> <!-- end title container -->
                    </div>

                    <div class="listing-meta">
                        <span><i class="ion-android-call"></i>{{ userprofile.phone_number }}</span>
                        <span><i class="typcn typcn-location"></i>{{ userprofile.location }}</span>
                        <span><i class="ion-android-mail"></i>{{ userprofile.user.email }}</span>
                    </div>
                    <div class="listing-count">
                        <a class="an-btn an-btn-default icon-right" href="#">Follow <i class="ion-person-add"></i></a>
                        <a class="an-btn an-btn-default icon-right" href="#">Send message <i class="ion-paper-airplane"></i></a>
                        <a class="an-btn an-btn-default icon-right" href="{% url 'account_logout' %}">Logout <i class="fa fa-user"></i></a>
                    </div>
                </div>
            </div>

        </div> <!-- end cotnainer -->
    </div>

{% endblock %}